.primeiraViewport{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;

    text-align: center;

    > h3{
        margin: 0 32px;
    }
}



.segundaViewport{
    > ol{
        margin: auto;
        width: 1262px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 62px;

        margin-top: 64px;
        margin-bottom: 64px;

        > li{
            width: auto;
            height: 400px;
            box-sizing: border-box;

            > img{
                width: 100%; aspect-ratio: 16 / 9;
                object-fit: cover;
                transition: opacity 300ms;
            }

            > section{
                display: flex;
                justify-content: space-between;
                
            }


            transition: opacity 700ms, translate 700ms, scale 300ms;
            &:hover{
                scale: 0.97;
                cursor: pointer;
                > img{ opacity: 0.6; }
                > * { cursor: pointer; }
            }
        }
    }
}


@media (max-width: 1400px){
    .segundaViewport{
        > ol{
            width: calc(100% - 72px);
            max-width: 700px;
            grid-template-columns: 1fr;

            > li{
                height: auto;
            }
        }
    }
}

@media (max-width: 600px){
    .segundaViewport{
        > ol{
            margin-top: 16px;
        }
    }
}