// Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
// Syne
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Syne:wght@400..800&display=swap');

:root{
    --background: #101010;
    --azul-eletrico: #00B2FF;
    --verde-agua: #00FFC2;
}

*{
    margin: 0;
    padding: 0;
    cursor: default;
    list-style: none;
}

html, body{
    font-family: "Inter", sans-serif;
    background-color: var(--background);
    color: white;
    overflow-x: hidden;
}

@for $i from 1 through 7{
    h#{$i}{
        font-family: "Syne", sans-serif;
    }
}

h1{
    font-size: 6em;
}

        @media (max-width: 1200px){
            h1{
                font-size: 4em;
            }
        }
        @media (max-width: 600px){
            h1{
                font-size: 3em;
            }
        }

.neonLuminoso{
    position: relative;
    > *:last-child{
        position: absolute;
        top: 0; left: 0;
    }
}

.blured{
    filter: blur(0.25em);
}

.textDegrade{
    background: -webkit-linear-gradient(135deg, var(--azul-eletrico), var(--verde-agua));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.viewport{
    width: 100dvw;
    &.dynamic{ min-height: 100dvh; }
    &:not(.dynamic){ height: 100dvh; }
    overflow: hidden;
}

@keyframes doShowAnimation {
    from{
        translate: 0 50px;
        opacity: 0;
    }
    to{
        translate: 0 0;
        opacity: 1;
    }
}
.doShow{
    animation: doShowAnimation 500ms ease-in forwards;
}